<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>


<body>
    <%- include('header') %>
        <%- include('aside') %>
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                            <h4 class="page-title">Edit Product</h4>
                            <div class="ml-auto text-right">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid">
                    <!-- ============================================================== -->
                    <!-- Start Page Content -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <form class="form-horizontal" action="/product/updateProduct" method="post">
                                    <div class="card-body">
                                        <h4 class="card-title">Edit Product</h4>
                                        <div class="form-group row">
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="id" name="id"
                                                    placeholder="id" value="<%=singleData.id %>" hidden>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="productName"
                                                class="col-sm-3 text-right control-label col-form-label">Product
                                                Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="productName" name="productName" value="<%= singleData.productName %>"
                                                    placeholder="Product Name Here" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="productPrice"
                                                class="col-sm-3 text-right control-label col-form-label">Product
                                                Price</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="productPrice" name="productPrice" value="<%= singleData.productPrice %>"
                                                    placeholder="First Name Here" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="productDescription"
                                                class="col-sm-3 text-right control-label col-form-label">Product
                                                Description</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="productDescription" name="productDescription" value="<%= singleData.productDescription %>"
                                                    placeholder="Product Description Here" required>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label for="extracategoryid"
                                                class="col-sm-3 text-right control-label col-form-label">Sub
                                                Category</label>
                                            <div class="col-sm-9">
                                                <select name="extracategoryid" id="extracategoryid">
                                                    <% extraCategories.map((e,i)=>{%>
                                                        <option value="<%=e.id%>" <%=e.id==singleData.extracategoryid.id
                                                            ? 'selected' :'' %> >
                                                            <%=e.extracategory%>(<%=e.subcategoryid.categoryid.category%> - <%=e.subcategoryid.subcategory%>)
                                                        </option>
                                                        <%})%>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-top">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="assets/libs/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap tether Core JavaScript -->
            <script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
            <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
            <script src="assets/extra-libs/sparkline/sparkline.js"></script>
            <!--Wave Effects -->
            <script src="dist/js/waves.js"></script>
            <!--Menu sidebar -->
            <script src="dist/js/sidebarmenu.js"></script>
            <!--Custom JavaScript -->
            <script src="dist/js/custom.min.js"></script>
            <!--This page JavaScript -->
            <!-- <script src="dist/js/pages/dashboards/dashboard1.js"></script> -->
            <!-- Charts js Files -->
            <script src="assets/libs/flot/excanvas.js"></script>
            <script src="assets/libs/flot/jquery.flot.js"></script>
            <script src="assets/libs/flot/jquery.flot.pie.js"></script>
            <script src="assets/libs/flot/jquery.flot.time.js"></script>
            <script src="assets/libs/flot/jquery.flot.stack.js"></script>
            <script src="assets/libs/flot/jquery.flot.crosshair.js"></script>
            <script src="assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
            <script src="dist/js/pages/chart/chart-page-init.js"></script>

</body>

</html>